<table class="product-table" style="width:100%">

results for "<%= params[:product] %>" 
<%= @time %> seconds
<% @results.each do |product| %>
  	<tr>
	    <td class="descriptor">Name:</td>
	    <td><%= product.name %></td>
	    <td><a href="<%=product.site_beg%><%=params[:product]%><%=product.site_end%>">link_to_item</a></td>
	</tr>
	<tr>
	    <td class="descriptor">Price:</td>
	    <td><%if product.price == 0%>
	    		Call <%=product.source%> for pricing
	    	<%else %>
	    	$<%= "%.2f" % product.price %>
	    	<%end %></td>
	</tr>
	<tr>
	    <td class="descriptor">Qty.:</td>
	    <td><%= product.quantity %></td>
	</tr>
	<tr class="source">
	    <td class="descriptor">Source:</td>
	    <td><%= product.source  %></td>
    </tr>	
<% end %>
</table>
<br>
No more results for "<%= params[:product] %>"
<a class="button" href="/">back</a>
