<table class="product-table" style="width:100%">
<% @results.each do |product| %>
  	<tr>
	    <td class="descriptor">Name:</td>
	    <td><%= product.name %></td>
	</tr>
	<tr>
	    <td class="descriptor">Price:</td>
	    <td>$<%= "%.2f" % product.price %></td>
	</tr>
	<tr>
	    <td class="descriptor">Qty.:</td>
	    <td><%= product.quantity %></td>
	</tr>
	<tr class="source">
	    <td class="descriptor">Source:</td>
	    <td><%= product.source  %></td>
    </tr>	
<% end %>
</table>

No more results for "<%= params[:product] %>"
<a class="button" href="/">back</a>